<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>

        <div class="p-5 mt-5 bg-secondary-theme text-theme-primary">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis in odio sint ipsum minima totam nulla veritatis minus deleniti corrupti quo quibusdam expedita consequatur dignissimos aperiam voluptatibus incidunt, amet doloremque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis in odio sint ipsum minima totam nulla veritatis minus deleniti corrupti quo quibusdam expedita consequatur dignissimos aperiam voluptatibus incidunt, amet doloremque.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis in odio sint ipsum minima totam nulla veritatis minus deleniti corrupti quo quibusdam expedita consequatur dignissimos aperiam voluptatibus incidunt, amet doloremque.</p>

            <div class="text-center">
                <a routerLink="/"><button class="btn btn-info btn-sm mt-5 btn-theme">Back to Home</button></a>
            </div>

        </div>
    </div>
</section>